* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #0e2742;
  color: #f3ecec;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
}

.choice {
  height: 160px;
  width: 160px;
  border-radius: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  background-color: #0e2742;
  cursor: pointer;
}
img {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  object-fit: cover;
}
.cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 4rem;
  margin-top: 3rem;
}
#user-score,
#comp-scor {
  font-size: 3rem;
}
#msg-container {
 margin-top: 2rem;
}
#msg {
  background-color: #0e2742;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: 2px 17px 26px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

